<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="tenants.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="secondname">Second name</label>
        <input
          type="text"
          class="form-control"
          id="secondname"
          required
          [(ngModel)]="tenants.secondname"
          name="secondname"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input
          type="text"
          class="form-control"
          id="lastname"
          required
          [(ngModel)]="tenants.lastname"
          name="lastname"
        />
      </div>
      <button (click)="saveTenant()" class="btn btn-success">Continue</button>
    </div>
    <div *ngIf="submitted">
      <div class="form-group">
        <label for="flatnumber">Flat Number</label>
        <input
          type="text"
          class="form-control"
          id="flatnumber"
          required
          [(ngModel)]="flats.flatnumber"
          name="flatnumber"
        />
      </div>
      <div class="form-group">
        <label for="square">Square</label>
        <input
          type="text"
          class="form-control"
          id="square"
          required
          [(ngModel)]="flats.square"
          name="square"
        />
      </div>
      <div class="form-group">
        <label for="rooms">Rooms</label>
        <input
          type="text"
          class="form-control"
          id="rooms"
          required
          [(ngModel)]="flats.rooms"
          name="rooms"
        />
      </div>
      <button (click)="saveFlat()" class="btn btn-success">Continue</button>
    </div>
  </div>
</div>


