<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <a href="/userinfo" class="btn btn-success" role="button" *ngIf="isLoggedIn && !info"  routerLink="userinfo">Add User Info</a>
  <div>
  <strong>User info:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
    <ul *ngIf="info">
      <li >
        {{city.city}}
      </li>
      <li >
        {{house.adress}}
      </li>
      <li >
        {{flats.flatnumber}}
      </li>
      <li >
        {{tenants.secondname}}
      </li>
      <li >
        {{tenants.name}}
      </li>
      <li >
        {{tenants.lastname}}
      </li>
    </ul>
  </div>
</div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
